{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Reels | {% block title %}Default Title{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'reels/style.css' %}">

    {% block head %}{% endblock %}
</head>
<body>

<div id="navbar">
    <ul>
        <li><a href="/" id="logo"><img src="{% static 'reels/reels-logo-white.png' %}"
                                             alt="logo"
                                             height="36px"
                                             style="border: 1.5px solid white; border-radius: 4px"></a></li>
        <li><a href="/create"><span>Create</span></a></li>
        <li><a href="/social"><span>Social</span></a></li>
        <li><a href="/improve"><span>Help Us Improve</span></a></li>
        <script>
            showSidebar = () => {
                navbar = document.getElementById("navbar");
                sidebar = document.getElementById("sidebar");
                Object.assign(sidebar.style, {
                    "display": "block",
                });
                Object.assign(sidebar.style, {
                    "top": `${navbar.clientHeight}px`,
                    "left": `${window.innerWidth - sidebar.clientWidth}px`,
                });
            };
            hideSidebar = () => {
                sidebar = document.getElementById("sidebar");
                Object.assign(sidebar.style, {
                    "display": "none"
                });
            }
        </script>
        {% if user_data %}
        <li class="sidebar-button" style="float:right"><a onmouseover="showSidebar()" onmouseout="hideSidebar()"><span>{{ user_data.user_name }}</span></a></li>
        {% else %}
        <li style="float:right"><a href="/login"><span>Log In</span></a></li>
        {% endif %}

    </ul>
</div>

<div id="sidebar" onmouseover="showSidebar()" onmouseout="hideSidebar()">
    <ul>
        <li><a href="/myvideos"><span>My Videos</span></a></li>
        <li><a href="/profile"><span>My Profile</span></a></li>
        <li><a href="/logout"><span>Logout</span></a></li>
    </ul>
</div>

<div id="content">
    {% if enable_cookies %}
    <script>
        alert("You must enable cookies in your browser for this site to work properly.")
    </script>
    {% endif %}
    {% block content %}Content{% endblock %}
</div>

</body>

{% block tail %}{% endblock %}

</html>
