{% extends "reels/base.html" %}
{% load static %}

{% block title %}Create{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'reels/create.css' %}">
{% endblock %}

{% block content %}
<div class="container step-container">
    <h1 class="m-4">Create a Reel</h1>
    <p class="m-4">
        Welcome to Reels. Upload videos to stitch together, like clips from a video game or other short videos.
    </p>
</div>
<div class="container step-container">
    <h3 class="m-4">Step 1: Upload</h3>
    <div id="upload-bar" class="simple-row">
        <div class="col-2">
            <div id="upload" style="display: flex; justify-content: center">
                <script>
                function thisFileUpload() {
                    document.getElementById('file_button').click();
                    document.getElementById('file_button').onchange = function(){document.getElementById('upload_form').submit()};
                };
                </script>
                <form action="/create" class="upload" id="upload_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="file_button" name="file" accept="video/mp4" multiple>
                </form>
                <button id="upload_button" name="upload_button" value="upload"
                                onclick="thisFileUpload();">
                        Upload
                </button>
            </div>
        </div>
        <div class="col-10">
            <div id="uploads" style="display: flex; flex-wrap: wrap; justify-content: center">
                <div class="col">
                    {% for uploaded_clip in uploaded_clips %}
                    <div class="uploaded">
                        <video controls>
                            <source src="{{ uploaded_clip }}" type="video/mp4">
                                Your browser does not support the video tag.
                        </video>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container step-container">
    <br>
    <h3 class="m-4">Step 2: Choose a Preset</h3>
    <form>
        <input type="radio" id="basic" name="preset" value="basic">
        <label for="basic">Basic</label><br>
        <input type="radio" id="cod_sniper" name="preset" value="cod_sniper">
        <label for="cod_sniper">Call of Duty -- Sniper</label><br>
        <input type="radio" id="rocket_league" name="preset" value="rocket_league">
        <label for="rocket_league">Rocket League</label>
        <button id="make_button" style="display: none"></button>
    </form>
</div>
<div class="container step-container">
    <br>
    <h3 class="m-4">Step 3: Make your Reel!</h3>
    <script>
        function makeReel() {
            document.getElementById('make_button').click();
            document.getElementById('file_button').onchange = function(){document.getElementById('upload_form').submit()};
        };
    </script>
    <button name="make_button" value="make"
                                onclick="document.getElementById('make_button').click();">
        Go!
    </button>
</div>
{% endblock %}
