{% extends "reels/base.html" %}
{% load static %}

{% block title %}Create{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'reels/create.css' %}">
<link rel="stylesheet" href="{% static 'reels/upload.css' %}">
{% endblock %}

{% block content %}
{% if compiled_videos %}
<div class="container title">
    <h1>Your Reels</h1>
    {% for compiled_video in compiled_videos %}
    <p>{{ compiled_video.video_id }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="container title">
    <h1>Create a Reel</h1>
</div>
{% if post_errors %}
<div class="container">
    {% for error in post_errors %}
    <div class="error-message">
        {{ error }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container">
    <h3>Uploaded Clips</h3>
    <div class="uploaded">
        {% if not session_clips %}
        <span>You haven't uploaded any clips yet &#128542;</span>
        {% endif %}

        {% for session_clip in session_clips %}
        <ul>
            <li><span>{{ session_clip.file_name }}</span></li>
            {% if not session_clip.available %}
            <li><div class="processing-element"></div></li>
            {% endif %}
            <li class="delete-button">
                <form action="/create" method="POST">
                    {% csrf_token %}
                    <button name="delete_clip" value="{{ session_clip.clip_id }}">
                        <i class="material-icons">delete</i>
                    </button>
                </form>
            </li>
        </ul>
        <br>
        {% endfor %}
    </div>
    <div id="upload-video">
        <form action="/create" class="upload-form" id="upload_video_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="video_file_button" name="video_file" accept="video/mp4" multiple>
        </form>
        <!--        <button class="reels-button" onclick="uploadToForm('video_file_button', 'upload_video_form');">-->
        <!--                Upload Videos-->
        <!--        </button>-->
    </div>
</div>
<div class="container">
    <h3>Upload Music (Optional)</h3>
    <div class="uploaded">
        {% if session_audio %}
        <span>{{ session_audio.file_name }}</span>
        {% else %}
        <span>You haven't uploaded your cool song &#128557;</span>
        {% endif %}
    </div>
    <div id="upload-audio">
        <form action="/create" class="upload-form" id="upload_audio_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="audio_file_button" name="audio_file" accept="audio/mp3" multiple>
        </form>
        <!--        <button class="reels-button" onclick="uploadToForm('audio_file_button', 'upload_audio_form');">-->
        <!--                Upload Audio-->
        <!--        </button>-->
    </div>
</div>
<div id="config-container" class="container">
    <h3>Configuration</h3>
    <span>You can't configure anything yet &#128556, but stay tuned for updates!</span>
    <form id="config-form" action="/create" method="POST">
        {% csrf_token %}
        <!-- All elements here will be automatically generated in config-panel with proper UI -->
    </form>
    <div id="config-panel">
        <!-- This is where config elements will be generated dynamically with JS -->
    </div>
</div>
<div id="submit-container" class="container">
    <button class="reels-button" name="compile"
            value="create"
            style="display: block; margin-left: auto; margin-right: auto;"
            onclick="document.getElementById('config-form').submit();">Create!
    </button>
</div>
{% endblock %}

{% block tail %}
<script type="module" src="{% static 'reels/upload.js' %}"></script>
{% endblock %}
