{% extends "reels/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'reels/login.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-6 col-lg-4" style="margin-top: 20vh;">
            <form action="{{ request.path }}" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <h2 style="color: #E0E0E0" class="mb-4">{% block header %}Log In{% endblock %}</h2>
                </div>
                {% block inputs %}
                <input class="short-text" id="username" name="username" placeholder="Username or Email" type="text" maxlength="50">
                
                <div class="mt-3"></div>
                <input class="short-text" id="password" name="password" placeholder="Password" type="password" maxlength="50">

                {% for error in login_errors %}
                <div class="form-error">{{ error }}</div>
                {% endfor %}

                {% endblock %}
                <br><br>
                <div class="row justify-content-center">
                    <input class="reels-button" id="submit" name="submit" type="submit" value="Submit">
                </div>

                {% for error in submit_errors %}
                <div class="form-error">{{ error }}</div><br>
                {% endfor %}
            </form>
            {% block extra %}
            <div class="mt-3"></div>
            <div class="row justify-content-center">
                <span>Don't have an account? <a href="/register">Register</a></span>
            </div>
            <div class="row justify-content-center">
                <span><a href="/forgot">Forgot password</a></span>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
