{% extends "reels/base.html" %}

{% block title %}My Videos{% endblock %}

{% block content %}
{% if user_videos %}
<div class="container title">
    <div class="row justify-content-center">
        <h1>Most Recent</h1>
    </div>
    <div class="row justify-content-center">
        <span>{{ most_recent_video }}</span>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <h1>All Videos</h1>
    </div>
    <ul style="list-style-type:none">
        {% for video in user_videos %}
        <li>
            <div class="row">
                <a href="/video?id={{ video.video_id }}"><h4>{{ video.formatted_time }}</h4></a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="container title">
    <div class="row justify-content-center">
        <h1>So empty!</h1>
    </div>
    <div class="row justify-content-center">
        <span>Looks like you don't have any Reels yet. Head over to the Create page to make one</span>
    </div>
</div>
{% endif %}
{% endblock %}
