{% extends "reels/login.html" %}

{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}
{% block inputs %}
    <input class="short-text" id="email" name="email" placeholder="Email" type="email">
    <div class="mt-3"></div>
    <input class="short-text" id="username" name="username" placeholder="Username" type="text">
    <div class="mt-3"></div>
    <input class="short-text" id="password" name="password" placeholder="Password" type="password">
{% endblock %}
{% block extra %}{% endblock %}
