# configurations
/.idea/

# local development
/venv/
/venv_linux/

# python caches
__pycache__/

# deployment
/staticfiles/

# secret files
init_secret.sh
init_secret.bat
init_env.sh
init_env.bat

# media files
/media/

# Celery
celery_db.*
