# configurations
/.idea/

# local development
/venv/

# python caches
/pegasus/__pycache__/
/reels/__pycache__/
/reels/migrations/__pycache__/

# deployment
/staticfiles/

# secret files
init_secret.sh
init_secret.bat
