# configurations
/.idea/

# local development
/venv/
/venv_linux/

# python caches
__pycache__/

# deployment
/staticfiles/

# secret files
init_secret.sh
init_secret.bat
env.sh
env.bat
env.env

# media files
/media/
*.mp4
*.mp3
*.m4a

# temp files
/temp/

# Celery
celery_db.*
