

/* Upload */

.uploads > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-left: 5px solid #104060;
    border-right: 5px solid #104060;
}

.uploads > .row > .col-lg-3 {
    display: inline-block;
    position: relative;
    margin: 20px;
    left: 0px;
    height: 25vh;
    background-color: gray;
    box-shadow: 0px 0px 20px #303030;
    border-radius: 10px;
}

.uploads > .row > .col-lg-3 .row {
    height: 100%;
}

.uploads .row h4 {
    margin: auto;
    color: #E0E0E0;
}

.upload {
    width: 120px;
    height: 120px;
    margin: auto;
    color: #E0E0E0;
}

.upload > button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);    //#104060;
    box-shadow: 0px 0px 15px #202020;
    border: none;
    border-radius: 10px;
    color: #E0E0E0;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 5px;
  margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #104060;
  border-radius: 10px;
}
