.video-item {
    background-color: var(--secondary-theme);
    color: #E0E0E0;
    font-size: 24px;
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
}

.video-item .processing-element {
    color: var(--background-1);
}

.uploaded {
    background-color: var(--background-2);
    color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.uploaded li {
    padding: 0 20px 0 20px;
}

.uploaded .delete-button {
    float: right;
}

.uploaded .delete-button button {
    background: transparent;
    border: none;
}

.uploaded .delete-button i {
    display: block;
    margin: auto;
    background: var(--secondary-theme);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
