/* Hero */
body {
    background-color: black;
}

.hero {
    height: 95vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.hero-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    opacity: 0.5;
}

#title {
    margin-top: 20vh;
    width: 100vw;
    position: fixed;
}

#title .welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    background-color: var(--primary-theme);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 15px black;
    animation-name: fade-in;
    animation-duration: 1s;
}

#title .welcome .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title .welcome p {
    font-size: 24px;
    color: white;
    text-align: center;
}

#title .welcome .reels-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

#title .welcome .reels-button:hover {
    background-color: var(--background-3)
}
