/* CSS for all Login-based templates */

/* Forms */

#content form {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #202020;
    padding: 20px 10%;
    background: var(--background-3);
}

    #content form .short-text {
        background: white;
        padding: 0.3em 0.5em;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    #content form .form-error {
        // background-color: #FF5842;
        color: #FF5842;
        padding: 10px 20px 0 20px;
        margin: none
        border: none;
        border-radius: 5px;
        width 100%;
        font-size: 0.8em;
    }