.social {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
}

p.not-logged-in {
    text-align: center;
}

.social h1 {
    text-align: center;
}

.social h3 {
    text-align: center;
}

.social .footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social .post {
    padding: 10px;
    background: rgba(255, 255, 255, .4);
    border-radius: 20px;
    margin-bottom: 20px;
}

.social .post .thumbnail {
    display: block;
    margin: 0 auto;
}

.social .post .info {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.post .info * {
    margin-left: 8px;
}

.post .info p:first-child {
    margin-left: 0;
    flex-grow: 1;
}

.floater {
    background: #104060;
    padding: 5px 15px;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
}

.floater p {
    color: white;
    margin: auto;
}

.floater.right {
    right: 20px;
}

.floater.left {
    left: 20px;
}