/* Animation */
@keyframes fade-in {
    from {opacity: 0; top: 20px;}
    to {opacity: 1; top: 0px;}
}

body {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10000;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}

#navbar li a:hover:not(#logo) {
    background-color: #101010;
}

#navbar li span {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
}

#navbar .sidebar-button {
}

#sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #104060;
  width: 250px;
  height: 100vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    float: top;
}

#sidebar li a {
    display: block;
    text-align: left;
    padding: 14px 24px;
    text-decoration: none;
}

#sidebar li a:hover {
    background-color: #101010;
}

#sidebar li span {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
}

/* Body */

body {
    background: #ACD3E6;
}

/* Content */

#content {
    position: absolute;
    width: 100vw;
    top: 120px;
    left: 0;
}

#content * {
    font-family: 'Comfortaa', cursive;
}

/* General Elements */

.container {
    box-shadow: 0px 0px 15px #303030;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
}

button {
    background-color: #104060;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    color: #E0E0E0;
    padding: 10px;
}
