#working-element {
    position: fixed;
    display: grid;
    place-content: center;
    overflow: hidden;
    font: 500 1em/1.4 -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2E2C33;
    background: var(--background-3);
    top: 0;
    left: 0;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
}

#working-element > *,
.processing-element > * {
    display: flex;
}

.upload-form {
    display: none;
}

.space {
    width: .25em;
}

.video-item {
    background-color: var(--secondary-theme);
    color: #E0E0E0;
    font-size: 24px;
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
}

.video-item .processing-element {
    color: var(--background-1);
}

.uploaded {
    background-color: var(--background-2);
    color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.uploaded li {
    height: 2em;
}

.delete-button i {
    background: var(--secondary-theme);
}

.download-button i {
    background: var(--background-3);
}
